<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cart</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body style="padding: 2%">
	<main>
    <a href="/">Homepage</a>
    <% if (products.length === 0) {%>
      <p>Cart is currently empty</p>
    <% } else { %>
      <% var total = 0 %>
      <br><br>
      <div>
        <table>
          <tr>
            <td>
              Product
            </td>
            <td>
              Unit price
            </td>
            <td>
              Qty
            </td>
          </tr>
          <% products.forEach((product) => { %>
          <% total += product[3] * product[2] %>
          <tr>
            <!-- <button onclick="addToCart(<%= product[0] %>, '<%= product[1] %>')">+</button> -->
            <td>
              <a href="/product/<%= product[0] %>" style="text-decoration: none !important;">
                <strong><%= product[1] %>: </strong>
              </a>
            </td>
            <td>
              <%= parseInt(product[2]).toLocaleString() %> đ
            </td>
            <td>
              <input type="number" name="" style="width: 20%" min="0" step="1" value="<%= product[3] %>" onchange="changeCart('<%= product[0] %>', this.value)">
            </td>
          </tr>
          <% })%>
          <tr>
            <td style="text-align: right">
              Total:
            </td>
            <td><%= total.toLocaleString() %> đ</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div>
        <p><button onclick="document.getElementById('checkOutDialogue').style.display='block'">Checkout</button></p>
        <p><button onclick="clearCart()">Clear cart</button></p>
      </div>

      <div id="checkOutDialogue" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('checkOutDialogue').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <br>
            <div>
              <label for="recipientName">
                <span style="color: white">xx</span>Name
              </label>
              <input type="text" name="recipientName" id="recipientName">
              <br>
              <br>
              <label for="address">
                Address
              </label>
              <textarea rows="4" cols="50" name="address" id="address"></textarea>
              <br>
              <br>
              <label for="payment">
                Payment
              </label>
              <select>
                <option>Cash on delivery</option>
              </select>
              <br>
              <br>
              <button onclick="checkOut()">Submit</button>
            </div>
            <br>
          </div>
        </div>
      </div>

    <% } %>

  </main>
  <script type="text/javascript" src="/api/clientJS/cartHandler"></script>
  <script type="text/javascript" src="/api/clientJS/checkOut"></script>
  <script type="text/javascript" src="/api/clientJS/cookieHandler"></script>
</body>
</html>
